*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, "Times New Roman", Georgia, Times, serif;
}


#timeStamp {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-left: 80%;
  width: 150px;
  border-radius: 10%;
padding: 10px 10px; 
  background-color:#571089; 
  border: solid;
  border-radius: 5px;
  color: #fff;

}

body {
  background-color: #fff;
}

.highscores {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 10px;
  width: 200px;
 

}

#name {
  margin-bottom: 16px;
}

#questiontext {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#questionBox,
.intro {
  width: 800px;
  max-width: 60%;
  padding: 5vh;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#answerBtns {
  font-weight: bold;
  display: grid;
  gap: 10px;
  margin: 10px 0;
  width: auto;
}

#startButton, #submitButton {
  font-weight: bold;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
 padding-top: 10px; 
 padding-bottom: 16px;

}

label, text, input {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  padding-top: 10px;
}



.anbtn1,
.anbtn2,
.anbtn3,
.anbtn4,
li,
#startButton, #submitButton {
  outline: none;
  padding: 10px 20px;
  background-color: #571089;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  color: #fff;
  max-width: fit-content;
  font-weight: medium;
  font-size: medium;
  align-items: center;
  justify-content: center;
  display: flex;
}

.anbtn1:hover,
.anbtn2:hover,
.anbtn3:hover,
.anbtn4:hover,
#startButton:hover, li:hover, #submitButton:hover {
  background-color: #9d4edd;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
