*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

#HS-header {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

#back,
#clear {
  outline: none;
  padding: 10px 20px 10px;
  margin-bottom: 5px;
  background-color: #571089;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  color: #fff;
  max-width: 160px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

#back:hover,
#clear:hover {
  background-color: #9d4edd;
  transition: 0.5s;
}

#timeStamp {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-left: 80%;
  width: 150px;
  border-radius: 10%;
  padding: 10px 10px;
  background-color: #571089;
  border: solid;
  border-radius: 5px;
  color: #fff;
}

body {
  background-color: #fff;
}

.highscores {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 10px;
  width: 200px;
  height: 100px;
  color: #9d4edd;
}

#name {
  margin-bottom: 16px;
}

#questiontext {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

#questionBox,
.intro {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  width: 750px;
  max-width: 60%;
  margin: auto;
  text-align: center;
  background-color: #fff;
}

#answerBtns {
  font-weight: bold;
  display: grid;
  gap: 10px;
  margin: 10px 0;
  width: auto;
}

#startButton,
#submitButton {
  font-weight: bold;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

label,
text,
input {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  margin: 5px;
  padding-bottom: 16px;
  font-family: "Rubik", sans-serif;
}

.anbtn1,
.anbtn2,
.anbtn3,
.anbtn4,
li,
#startButton,
#submitButton {
  outline: none;
  padding: 10px 20px 10px;
  margin-bottom: 5px;
  background-color: #571089;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  color: #fff;
  max-width: 160px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.anbtn1:hover,
.anbtn2:hover,
.anbtn3:hover,
.anbtn4:hover,
#startButton:hover,
li:hover,
#submitButton:hover {
  background-color: #9d4edd;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
