*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, "Times New Roman", Georgia, Times, serif;
}

header {
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 10px;
  border-radius: 10%;
}

nav, #timeStamp {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 80%;
  width: 150px;
  height: 75px;
  border-radius: 10%;
  /* padding: 10px 10px; */
  background-color: #598392;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  /* max-width: fit-content; */
}

body {
  background-color: #ae2012;
}

.highscores {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

#questiontext {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#questionBox,
.intro {
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 80%;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px;
  border-color: #e9d8a6;
  padding: 5vh;
  margin: 25vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ddb892;
}

#answerBtns {
  font-weight: bold;
  display: grid;
  gap: 10px;
  margin: 10px 0;
  width: auto;
}

#startButton {
  font-weight: bold;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.anbtn1,
.anbtn2,
.anbtn3,
.anbtn4,
li,
#startButton {
  outline: none;
  padding: 10px 20px;
  background-color: #598392;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  max-width: fit-content;
  font-weight: bold;
  font-size: medium;
  align-items: center;
  justify-content: center;
  display: flex;
}

.anbtn1:hover,
.anbtn2:hover,
.anbtn3:hover,
.anbtn4:hover,
#startButton:hover {
  background-color: #aec3b0;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
